body {
	font-family: "Yanone Kaffeesatz","Helvetica Neue", Arial, sans-serif;
	line-height: 1;
	margin: 0;
	margin-bottom: 30px;
}
/*.content {
	margin-left: auto;
	margin-right: auto; 
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
} */
.fomo {
	width: auto;
	display: inline-block;
}
.titles {
	width: auto;
	display: inline-block;
}
.fomo-image {
	width: 120px;
	height: 120px;
}
.header {
	width: 100%;
	background-color: #d4d4db;
	color: #2f4f4f;
	display: inline-block;
	/*padding: 20px 10px 10px 30px;*/
	text-align: center;
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
a {
	text-decoration: none;
}
a:hover {
	color: black;
}
.links li {
	font-size: 1.5em;
	padding-top: 20px;
	padding-bottom: 20px;
	list-style: none;
}
.links a {
	color: #2f4f4f;
}
.links a:visited {
	color: #2f4f4f;
	text-decoration: none;
}
.links a.active {
	color: #2f4f4f;
}
h1 {
	color:#2f4f4f;
	font-size: 3.5em;
	margin-top: 0px;
	margin-bottom: 0px;
}
.meat-image {
	width: 40px;
	height: 40px;
	display: inline-block;
}
#large {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 400px;
	padding-bottom: 25px;
}
h4 {
	color:#708090;
	margin-top: 0px;
}
#post-links {
	display: inline-block;
	text-align: right;
	padding: 0;
	margin: 0;
	font-size: 1em;
}
.title-post {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 30px;
	font-size: 2em;
	color: black;
}
.post-content {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	line-height: 1.2;
}
a {
	color: #2f4f4f;
}
.images-mid {
	text-align: center;
}
#small1 {
	position: relative;
	display: inline-block;
	padding: 10px;
}
#small2 {
	position: relative;
	display: inline-block;
	padding: 10px;
}
.title-section {
	text-align: center;
	font-size: 1.3em;
}
#small3 {
	float: left;
}
#small5 {
	float: right;
}
.footer {
	font-size: .75em;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.footer2 {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.footer .left {
	float: left;
}
.footer .right {
	float: right;
}
.friend {
	text-align: center;
}
.large2 {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.idk101 {
	display: block;
	margin-right: auto;
	margin-left: auto;
}